html,
body {
  margin: 0;
  height: 100%;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
}
*{
  box-sizing: border-box;
}

a {
  color: white;
  text-decoration: none;
}

h1,
h2 {
  font-weight: 700;
  line-height: 56px;
  span{
    display: block;
  }
}
.container{
  margin: 0 auto;
 // max-width: 1110px;
  width: 100%;
}
.row{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  //max-width: 1110px;
  grid-gap: 30px;
  margin: 0 auto;
  position: relative;
}


.col-1{grid-column: span 1;}
.col-2{grid-column: span 2;}
.col-3{grid-column: span 3;}
.col-4{grid-column: span 4;}
.col-5{grid-column: span 5;}
.col-6{grid-column: span 6;}
.col-7{grid-column: span 7;}
.col-8{grid-column: span 8;}
.col-9{grid-column: span 9;}
.col-10{grid-column: span 10;}
.col-11{grid-column: span 11;}
.col-12{grid-column: span 12;}


.col-to-end{grid-column-end: -1 !important;}

.row-2{
  grid-row: 1 / span 2;
}
.row-2-2{
  grid-row: 2 / span 1;
}
.row-1-2{
  grid-row: 1 / span 1;
}

.mobile{
  display: none;
}
.desktop{
  display: inherit;
}

.hidden_params{
  display: none;
}

.flex{
  display: flex;
}

@media (max-width: 1180px){

}

@media (min-width:1025px) and (max-width:1180px) {
  .row{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    max-width: 1180px;
    padding: 0 20px;
    grid-gap: 10px;
    margin: 0 auto;
    position: relative;
  }
  .l-col-1{grid-column: span 1;}
  .l-col-2{grid-column: span 2;}
  .l-col-3{grid-column: span 3;}
  .l-col-4{grid-column: span 4;}
  .l-col-5{grid-column: span 5;}
  .l-col-6{grid-column: span 6;}
  .l-col-7{grid-column: span 7;}
  .l-col-8{grid-column: span 8;}
  .l-col-9{grid-column: span 9;}
  .l-col-10{grid-column: span 10;}
  .l-col-11{grid-column: span 11;}
  .l-col-12{grid-column: span 12;}
  .l-col-del{display: none;}
} /*media 1025-1180*/

@media (min-width:769px) and (max-width:1024px) {
  .row{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    max-width: 1024px;
    padding: 0 15px;
    grid-gap: 10px;
    margin: 0 auto;
    position: relative;
  }
  .m-col-1{grid-column: span 1;}
  .m-col-2{grid-column: span 2;}
  .m-col-3{grid-column: span 3;}
  .m-col-4{grid-column: span 4;}
  .m-col-5{grid-column: span 5;}
  .m-col-6{grid-column: span 6;}
  .m-col-7{grid-column: span 7;}
  .m-col-8{grid-column: span 8;}
  .m-col-9{grid-column: span 9;}
  .m-col-10{grid-column: span 10;}
  .m-col-11{grid-column: span 11;}
  .m-col-12{grid-column: span 12;}
  .m-col-del{display: none;}
} /*media 769-1024*/

@media (min-width:481px) and (max-width:768px) {
  .mobile{
    display: inherit;
  }
  .desktop{
    display: none;
  }

  .row{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    max-width: 1120px;
    grid-gap: 10px;
    margin: 0 auto;
    padding: 0 10px;
    position: relative;
  }
  .s-col-1{grid-column: span 1;}
  .s-col-2{grid-column: span 2;}
  .s-col-3{grid-column: span 3;}
  .s-col-4{grid-column: span 4;}
  .s-col-5{grid-column: span 5;}
  .s-col-6{grid-column: span 6;}
  .s-col-7{grid-column: span 7;}
  .s-col-8{grid-column: span 8;}
  .s-col-9{grid-column: span 9;}
  .s-col-10{grid-column: span 10;}
  .s-col-11{grid-column: span 11;}
  .s-col-12{grid-column: span 12;}
  .s-col-del{display: none;}
} /*media 481-768*/

@media (max-width:480px) {

  .row{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    max-width: 1120px;
    grid-gap: 10px;
    padding: 0 20px;
    margin: 0 auto;
    position: relative;
  }
  .xs-col-1{grid-column: span 1;}
  .xs-col-2{grid-column: span 2;}
  .xs-col-3{grid-column: span 3;}
  .xs-col-4{grid-column: span 4;}
  .xs-col-5{grid-column: span 5;}
  .xs-col-6{grid-column: span 6;}
  .xs-col-7{grid-column: span 7;}
  .xs-col-8{grid-column: span 8;}
  .xs-col-9{grid-column: span 9;}
  .xs-col-10{grid-column: span 10;}
  .xs-col-11{grid-column: span 11;}
  .xs-col-12{grid-column: span 12;}
  .xs-col-del{display: none;}
  .mobile{
    display: inherit;
  }
  .desktop{
    display: none;
  }
} /*media max 480*/

