.ico{
  display: inline-block;
}
.ico-left{
  margin-right: 10px;
}
.ico-right{
  margin-left: 10px;
}
.ico-tel-w{
  width: 16px;
  height: 27px;
  background: url("../img/ico-tel-w-16-27.svg") 0 0 no-repeat;
}

.ico-chat-w{
  width: 28px;
  height: 26px;
  background: url("../img/ico-chat-w-28-26.svg") 0 0 no-repeat;
}

.ico-wt-w{
  width: 14px;
  height: 14px;
  background: url("../img/ico-wt-w-14-14.svg") 0 0 no-repeat;
}

.ico-tg-w{
  width: 15px;
  height: 13px;
  background: url("../img/ico-tg-w-15-13.svg") 0 0 no-repeat;
}

.ico-ig-w{
  width: 15px;
  height: 15px;
  background: url("../img/ico-ig-w-15-15.svg") 0 0 no-repeat;
}

.ico-fb-w{
  width: 8px;
  height: 15px;
  background: url("../img/ico-fb-w-8-15.svg") 0 0 no-repeat;
}

.ico-arrowmenu{
  width: 9px;
  height: 14px;
  background: url("../img/ico-arrowmenu.svg") 0 0 no-repeat;
}