@media (max-width: 1550px) {
  .pl80{padding-left: 50px;}
  .pl170{padding-left: 140px;}
  .section--header,
  .section--pre,
  .map--legend
  {
    left: 50px;
  }
}

@media (min-width: 981px) {
  .mobile{
    display: none;
  }
}

@media (max-width: 980px) {
  sup{
    font-size: 80%;
  }
  .btn{
    width: 130px;
    min-width: 130px;
    height: 33px;
    font-size: 10px;
  }
  .form input[type=submit]{
    width: 130px;
  }

  .m--f_c{
    flex-direction: column;
  }
  .m--h_a{
    height: auto;
    min-height: auto;
  }

  .m--h_100vh{
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    min-height: auto;
  }

 /* .bgs_con, .bgs_cov{
    background-size: contain;
    background-position: 0 0;
  }*/


  h1 span,
  h2 span{
    display: inline;
  }
  #header{
    display: none;
  }
  #mobile-header{
    display: flex;
    background: #362633;
  }
  #main-menu{
    left: -257px;
    &.active{
      left: 0;
    }
  }
  .col-left,
  .col-right,
  .left-col,
  .right-col
  {
    width: 100% !important;
    padding-left: 20px;
    padding-right: 20px;
    .swiper-container{
      height: 50vh;
    }
  }
  .slide .j_parlxContent{
    padding-left: 20px;
  }
  .slider-square{
    top: auto;
    bottom: 5%;
  }
  .pl170{
    padding-left: 0;
  }
  .pl80{
    padding-left: 0;
  }
  .pl90{
    padding-left: 0;
  }
  #uniqPage>div.pos_a{
    position: relative;
  }

  .main-btn-next{
    display: none;
  }
  .slide .j_parlxContent .desc{
    font-size: 3vmax;
    line-height: 1.2;
  }
  .slider-square{
    width: 130px;
    height: 130px;
    right: auto;
    left: 20px;
    padding: 5px;
  }
  .slider-square .title{
    font-size: 62px;
  }
  .slide.slide2 .slider-square .title{
    font-size: 40px;
  }
  .slide.slide3 .slider-square .title{
    font-size: 38px;
  }
  .slider-square .desc{
    font-size: 10px;
    line-height: 1.4;
  }
  #section2{
    .h_25{
      min-height: 200px;
    }
    .jc_sb{
      justify-content: flex-start;
    }
    .left-col,
    .right-col
    {
      padding: 0;
    }
    .section--bottom, .section--top{
      flex-wrap: wrap;
      .mini-sec{
        margin-right: 30px;
        .title{
          font-size: 10px;
          line-height: 1.2;
          margin-bottom: 5px;
          height: 30px;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
        }
        .number{
          font-size: 6vmax;
        }
        &:last-child{
          &>*{
            padding-left: 0;
            border: none;
          }
        }
      }
    }
    .section--top{
      min-height: 120px;
      max-height: 120px;
    }
  }
  .page-header{
    font-size: 20px;
  }
  .page-desc{
    margin-top: 15px;
    margin-bottom: 20px;
    max-width: 100%;
    span{
      display: inline;
    }
    .btn{
      margin-top: 20px;
    }
  }

  #section7{
    &>.d_f{
      flex-flow: column-reverse;
    }
    .col-right{
      height: 50vh;
      padding-left: 0;
      padding-right: 0;
      & *{
        height: 350px;
      }
    }
    .col-left{
      padding: 20px 20px 0;
      height: 50vh;
    }
  }
  #section6{
    .col-left{
      padding: 0;
      height: 50vh;
      & *{
        height: 350px;
      }
    }
    .col-right{
      height: 50vh;
    }
  }
  #uniqPage{
    .cards-desc{
      display: none;
      svg{

      }
    }
    .cards.active{
      .cards-desc{
        display: block;
      }
    }
    .card--bottom{
      position: relative;
      width: 100%;
      padding-left: 20px;
    }
    .card2,
    .card3,
    .card4,
    .card5
    {
      .card--bottom{
        &:after{
          display: block;
          content: '';
          position: absolute;
          right: 20px;
          top: 50%;
          transform: translateY(-7px) rotate(90deg);
          width: 9px;
          height: 14px;
          background: url("../img/ico-arrowmenu.svg") 0 0 no-repeat;
        }
      }
      &.active{
        .card--bottom:after{
          transform: rotate(-90deg);
        }
      }
    }

    .cards{
      height: auto;
      &.card1{
        height: 72.8vh;
        height: calc(var(--vh, 1vh) * 72.8);
      }
      .col-right{
        padding: 0;
        height: 100vw;
      }
    }
    .card1{
      padding: 0 20px;
    }
  }
  .cards:after{
    display: none;
  }
  .card-bottom--wave{
    margin-left: -20px;
    margin-right: -20px;
    width: calc(100% + 40px);
  }
  #section5{
    .col-left{
      padding-top: 40px;
      padding-bottom: 40px;
    }
    .col-right{
      padding: 0;
      .width-50{
        padding-top: 20px;
        padding-bottom: 20px;
      }
    }

    #anim-desk{
      width: 165px;
    }
    #anim-cleaning,
    #anim-video{
      width: 75%;
      height: 75%;
    }
  }

  #section9{
    .col-right{
      padding: 0;
      .swiper-slide{
        .h_100vh{
          height: 100%;
          min-height: auto;
        }
      }
    }
  }

  #section10{
    .pl30{
      padding-left: 0;
    }
    .col-left{
      padding-left: 0;
      padding-right: 0;
    }
    .sc_105{
      transform: scale(1);
    }
    .plan-img{
      img{
        width: 100%;
      }
    }
  }

  .plan-nums .num{
    font-size: 30px;
  }
  .plan-nums .pre-w-line:before{
    height: 25px;
  }
  .plan-rooms ul li{
    display: flex;
    align-items: center;
    .ico-w{
      margin-right: 5px;
    }
  }
  .plan-rooms{
    margin-top: 25px;
  }

  .pb5vmax{
    padding-bottom: 3vmax;
  }
  .pt5vmax{
    padding-top: 3vmax;
  }


  #contacts{
    padding-bottom: 25px;
    .tel a{
      font-size: 3vmax;
    }
    .tel .title{
      font-size: 2vmax;
    }
    .form{
      padding: 0 20px;
      .width-50{
        width: 100%;
      }
      .pl30{
        padding-left: 0;
      }
      .cb span{
        flex: none;
      }
    }
  }

  #footer {
    height: auto;
    .text{
      font-size: 12px;
    }
    .line1{
      padding-top: 20px;
      padding-left: 20px;
      padding-right: 20px;
      align-items: flex-start;
      .c1,.c3, .c5{
        display: none;
      }
      .c4{
        padding-left: 20px;
      }
    }
    .line2{
      flex-wrap: wrap;
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 20px;
      margin-top: 25px;
     .c1, .c2{
       flex-basis: 50%;
       flex-direction: column;
     }
      .c2{
        padding-left: 20px;
      }
      .c3{
        display: none;
      }
      .c4, .c5{
        flex-basis: 50%;
        padding-top: 20px;
      }
      .c5{
        padding-left: 20px;
      }
    }
    .width-18{
      width: 100%;
    }


  }

  .form-control{
    font-size: 12px;
    height: 20px;
  }
  .fancy-form.fancybox-content{
    h2{
      font-size: 4vmax;
    }
    input[type=submit],
    .btn{
      width: auto;
    }
  }
  .rassrochka .num{
    font-size: 4vmax;
  }
}