.arrow {
  position: absolute;
  z-index: 100;
  top: 50%;
  cursor: pointer;
  width: 44px;
  height: 44px;

}
#leftArrow,
#leftArrow2,
.leftarrow
{
  right: 0;
  top: calc(50% - 23px);
  transform: rotate(180deg);
}

#rightArrow,
#rightArrow2,
.rightarrow
{
  right: 0;
  top: calc(50% + 23px);
}
.slide{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  h1{
    margin-top: 115px;
    font-size: 3vmax;
    text-align: left;
    line-height: 4.5vmax;
  }
  .j_parlxContent{
    padding-left: 281px;
    .desc{
      margin-top: 30px;
      font-size: 22px;
      line-height: 30px;
      span{
        display: block;
      }
    }
  }
  &.slide2{
      .slider-square{
        .title{
          font-size: 60px;
          span{
            position: absolute;
            right: -27px;
            top: 2px;
            font-size: 23px;
          }
        }
        .ss-desc{
          margin-top: 15px;
        }
      }
  }
  &.slide3{
    .slider-square{
      .title{
        font-size: 43px;
        span{
          position: absolute;
          right: -27px;
          top: 2px;
          font-size: 23px;
        }
      }
      .ss-desc{
        margin-top: 15px;
      }
    }

  }
  &.slide4{
    .slider-square{
      .title{
        font-size: 43px;
        span{
          position: absolute;
          right: -27px;
          top: 2px;
          font-size: 23px;
        }
      }
      .ss-desc{
        margin-top: 15px;
      }
    }

  }
}

.slider-square{
  background: $green;
  width: 192px;
  height: 192px;
  right: 110px;
  top: 40%;
  left: auto;
  .title{
    font-weight: 500;
    font-size: 82px;
    position: relative;
    span{
      position: absolute;
      right: -24px;
      top: 5px;
      font-size: 31px;
    }
    b{
      position: absolute;
      left: -24px;
      top: 5px;
      font-weight: 600;
      font-size: 12px;
      line-height: 15px;
      color: #362633;

    }
  }
  .ss-desc{
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
  }
}