.arrow {
  position: absolute;
  z-index: 100;
  top: 50%;
  cursor: pointer;
  width: 44px;
  height: 44px;

}
#leftArrow {
  right: 0;
  top: calc(50% - 23px);
  transform: rotate(180deg);
}

#rightArrow {
  right: 0;
  top: calc(50% + 23px);
}
.slide{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  h1{
    margin-top: 115px;
    font-size: 46px;
    text-align: left;
  }
  .j_parlxContent{
    padding-left: 281px;
  }
}

.slider-square{
  background: $green;
  width: 192px;
  height: 192px;
  right: 110px;
  top: 40%;
  left: auto;
  .title{
    font-weight: 500;
    font-size: 82px;
    position: relative;
    span{
      position: absolute;
      right: -24px;
      top: 5px;
      font-size: 31px;
    }
  }
  .desc{
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
  }
}