.d_f{
  display: flex;
}
.f_c{
  flex-direction: column;
}
.w_100{
  width: 100%;
}
.h_100{
  height: 100%;
}
.h_75{
  height: 75%;
}
.h_25{
  height: 25%;
}
.h_100vh{
  height: 100vh;
}
.pos_r{
  position: relative;
}
.to_ct {
  transform-origin: center top;
}
.bgs_con, .bgs_cov {
  background-position: 50%;
  background-repeat: no-repeat;
}
.bgs_cov {
  background-size: cover;
}
.sc_105 {
  transform: scale(1.05);
}
.to_rb {
  transform-origin: right bottom;
}

.pos_a, .pos_f {
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  position: absolute;
}
.c_w{
  color: #fff;
}
.ai_c{align-items: center;}
.ai_s{align-items: flex-start;}
.ai_base{align-items: baseline;}


.jc_c{justify-content: center;}
.jc_sb{justify-content: space-between;}
.jc_end{justify-content: flex-end;}




.ml_a{
  margin-left: auto;
}


.left-col, .middle-col, .right-col, .full-col{
  height: 100vh;
  margin: 0;
}
.width-0{
  width: 0;
}
.width-33{
  width: 33.33%;
}
.width-66{
  width: 66.66%;
}
.width-100{
  width: 100%;
}
.oh-wrap{
  overflow: hidden;
}

.j_parlxContent{
  padding-left: 30px;
}
.pl30{
  padding-left: 30px;
}
.pl90{
  padding-left: 90px;
}
.pl_250{
  padding-left: 250px;
}

.bg_brown{
  background-color: $brown;
}

.color-1{
  color: #000;
}
.color-2{
  color: #D2CDCC;
}