<footer id="footer" class="pl90">
    <div class="pl80 h_100">
        <div class="d_f w_100 | line1">
            <div class="c1 width-18 d_f f_c jc_c">
                <div class="title">адрес дома</div>
                <div class="text">ул.&nbsp;Ангиса,&nbsp;29<span>&nbsp;</span></div>
            </div>
            <div class="c2 width-18 d_f f_c jc_c ">
                <div class="title">офис продаж</div>
                <div class="text">Грузия, г.&nbsp;Батуми <span>ул.&nbsp;Горгиладзе,&nbsp;49, офис&nbsp;29</span></div>
            </div>
            <div class="c3 width-28 d_f jc_c ai_c"><div class="logo-f"></div></div>
            <div class="c4 width-18 d_f f_c jc_c ">
                <div class="title">график работы</div>
                <div class="text">Пн-Пт  10:00-20:00
                    <span>Сб-Вс  11:00-18:00</span></div>
            </div>
            <div class="c5 width-18"></div>
        </div>
        <div class="d_f w_100 | line2">
            <div class="c1 width-18">
                © 2021, LEON
                <span>Официальный сайт дома</span>
            </div>
            <div class="c2 width-18">
                <a href="#">SR Group</a>
                <span>Девелопер проекта</span>
            </div>
            <div class="c3 width-28"></div>
            <div class="c4 width-18">
                <ul class="d_f ai_c | social-btns">
                    <li><a href="#"><span class="ico-wt-w"></span></a></li>
                    <li><a href="#"><span class="ico-tg-w"></span></a></li>
                    <li><a href="#"><span class="ico-ig-w"></span></a></li>
                    <li><a href="#"><span class="ico-fb-w"></span></a></li>
                </ul>
            </div>
            <div class="c5 width-18">
                <a href="http://masshtab.kz" target="_blank" class="logo-masshtab"></a>
            </div>
        </div>
    </div>
</footer>



</main><!-- #main -->
</div><!-- #primary -->

<div style="display: none;" id="mainform" class="fancy-form">
    <h2>Оставить заявку</h2>
    <div class="form">
        <input type="text" placeholder="Имя" class="form-control">
        <input type="email" placeholder="E-mail" class="form-control">
        <input type="tel" placeholder="Телефон" class="form-control">
        <textarea name="msg" id="msg" cols="30" rows="10" placeholder="Сообщение" class="form-control"></textarea>
        <label for="agree" class="cb">Отправляя информацию, вы соглашаетесь с обработкой персональных данных
            <input type="checkbox" id="agree">
            <span></span>
        </label>
        <div class="btn-w d_f ai_c">
            <input type="submit" value="Отправить" class="btn">
            <a href="javascript:;" class="btn btn-green sendFormToWt">
                <span class="ico ico-left ico-wt-w"></span> whatsapp
            </a>
        </div>
    </div>
</div>


<!--
<script src="../libs/gsap.min.js"></script>
<script src="../libs/ScrollTrigger.min.js"></script>
<script src="../libs/ScrollToPlugin.min.js"></script>
<script src="../libs/CSSRulePlugin.min.js"></script>
<script src="../libs/SplitText.min.js"></script>
<script src="../libs/MorphSVGPlugin.js"></script>
<script src="../libs/DrawSVGPlugin.min.js"></script>
<script src="../libs/swiper-bundle.min.js"></script>
<script src="../libs/scrollbar.min.js"></script>
<script src="../js/main.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenMax.min.js"></script>-->
