<meta charset="UTF-8">

<!-- Useful meta tags -->
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="robots" content="index, follow, noodp">
<meta name="googlebot" content="index, follow">
<meta name="google" content="notranslate">
<meta name="format-detection" content="telephone=no">
<link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
<link rel="icon" href="../img/favicon.ico" type="image/x-icon">
<!--<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">-->
<!--<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">-->
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

<!-- https://www.createjs.com/preloadjs -->
<script src="../libs/preloadjs.min.js"></script>

<script>
    // First we get the viewport height and we multiple it by 1% to get a value for a vh unit
    let vh = window.innerHeight * 0.01;
    // Then we set the value in the --vh custom property to the root of the document
    document.documentElement.style.setProperty('--vh', `${vh}px`);

    // We listen to the resize event
    window.addEventListener('resize', () => {
        // We execute the same script as before
        let vh = window.innerHeight * 0.01;
        document.documentElement.style.setProperty('--vh', `${vh}px`);
    });


    var queue = new createjs.LoadQueue(true);
    queue.loadFile({src:"https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js", type:createjs.Types.JAVASCRIPT});
    queue.loadFile({src:"https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js", type:createjs.Types.JAVASCRIPT});
    queue.loadFile({src:"http://localhost:3000/libs/gsap.min.js", type:createjs.Types.JAVASCRIPT});
    queue.loadFile({src:"http://localhost:3000/libs/ScrollTrigger.min.js", type:createjs.Types.JAVASCRIPT});
    queue.loadFile({src:"http://localhost:3000/libs/ScrollToPlugin.min.js", type:createjs.Types.JAVASCRIPT});
    queue.loadFile({src:"http://localhost:3000/libs/SplitText.min.js", type:createjs.Types.JAVASCRIPT});
    queue.loadFile({src:"http://localhost:3000/libs/DrawSVGPlugin.min.js", type:createjs.Types.JAVASCRIPT});
    queue.loadFile({src:"http://localhost:3000/libs/Dragable.min.js", type:createjs.Types.JAVASCRIPT});
    queue.loadFile({src:"http://localhost:3000/libs/swiper-bundle.min.js", type:createjs.Types.JAVASCRIPT});
    queue.loadFile({src:"//cdn.jsdelivr.net/jquery.mcustomscrollbar/3.0.6/jquery.mCustomScrollbar.concat.min.js", type:createjs.Types.JAVASCRIPT});
    queue.loadFile({src:"http://localhost:3000/js/main.js", type:createjs.Types.JAVASCRIPT});
    queue.loadFile({src:"https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css", type:createjs.Types.CSS});
    queue.loadFile({src:"//cdn.jsdelivr.net/jquery.mcustomscrollbar/3.0.6/jquery.mCustomScrollbar.min.css", type:createjs.Types.CSS});
    //queue.loadFile({src:"http://localhost:3000/libs/swiper-bundle.min.css", type:createjs.Types.CSS});
    //queue.loadFile({src:"http://localhost:3000/css/main.min.css", type:createjs.Types.CSS});
    queue.on("complete", handleComplete);
    queue.on("error", handleError);


    function handleComplete(event){
        var element = document.getElementById("preloader");
        element.parentNode.removeChild(element);
    }

    // A file failed to load.
    function handleError(event) {
        var item = event.data;
        var div = document.getElementById(item.id);
        if (div != null) {
            div.innerHTML = "<label>Error " + (item.id == "NoFileHere.png"?":)":":(")+"</label>";
            div.className = "gridBox error";
        }
    }
</script>

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">


<link rel="stylesheet" href="../libs/swiper-bundle.min.css">
<link href="../css/main.css" rel="stylesheet" />
<!--<link href="../css/main-rtl.css" rel="stylesheet" />-->




<title>Жилой комплекс LEON</title>