<aside id="main-menu" class="main-menu">
    <div class="logo-w w_100 d_f ai_c jc_c">
        <a href="/" class="logo"></a>
        <a href="/" class="logo-s"></a>
    </div>
    <div class="menu-items">
        <ul>
            <li class="menu-item"><a href="#locpage" data-anchor="#locpage" class="a_scrollto">Расположение</a></li>
            <li class="menu-item"><a href="#uniqPage" data-anchor="#uniqPage" class="a_scrollto">Уникальность</a></li>
            <li class="menu-item"><a href="#section7" data-anchor="#section7" class="a_scrollto">Как купить</a></li>
            <li class="menu-item"><a href="#section10" data-anchor="#section10" class="a_scrollto">Квартиры</a></li>
            <li class="menu-item"><a href="#contacts" data-anchor="#contacts" class="a_scrollto">Контакты</a></li>
        </ul>
    </div>
    <div class="leftmenu--footer">
        <div class="d_f ai_c | social-btns leftmenu--footer-social">
            <a href="#" class="d_f ai_c jc_c"><span class="ico ico-wt-w"></span></a>
            <a href="#" class="d_f ai_c jc_c"><span class="ico ico-tg-w"></span></a>
            <a href="#" class="d_f ai_c jc_c"><span class="ico ico-ig-w"></span></a>
            <a href="#" class="d_f ai_c jc_c"><span class="ico ico-fb-w"></span></a>
        </div>
        <div class="copyright c_w">
            © 2021, LEON
        </div>
        <div class="f-slogan c_w">Официальный сайт дома</div>
    </div>
    <div class="menu-text">Меню</div>
    <div class="main-btn-next"></div>
</aside>