<svg id="leftArrow" class="arrow" width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M43.999 0H0V43.999H43.999V0Z" fill="#362633"/>
    <path d="M20.563 15.444L26.522 21.403L20.563 27.362" stroke="#D2CDCC" stroke-width="2" stroke-miterlimit="10"/>
</svg>

<svg id="rightArrow" class="arrow" width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M43.999 0H0V43.999H43.999V0Z" fill="#362633"/>
    <path d="M20.563 15.444L26.522 21.403L20.563 27.362" stroke="#D2CDCC" stroke-width="2" stroke-miterlimit="10"/>
</svg>


    <div class="w_100 h_100 pos_r" id="panelWrap">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="slide swiper-slide">
                    <div class="w_100 h_100 pos_r to_ct | j_parallaxEl">
                        <div class="w_100 h_100 sc_105 bgs_cov to_rb | j_topImage" style="background-image: url('/img/full/lobby1.jpg'); transform-origin: 60% 90%; transform: translate(0px, 0px);"> </div>
                    </div>
                    <div class="w_100 h_100 pos_a pl_250 | j_parlxContent">
                        <h1 class="c_w">Беспроцентная рассрочка <span>на 36 месяцев</span></h1>
                    </div>
                    <div class="pos_a slider-square d_f f_c jc_c ai_c">
                        <div class="title d_f jc_c ai_s c_w">0<span>%</span></div>
                        <div class="desc">до конца строительства</div>
                    </div>
                </div>
                <div class="slide swiper-slide">
                    <div class="w_100 h_100 pos_r to_ct | j_parallaxEl">
                        <div class="w_100 h_100 sc_105 bgs_cov to_rb | j_topImage" style="background-image: url('/img/full/lobby2.jpg'); transform-origin: 60% 90%; transform: translate(0px, 0px);"> </div>
                    </div>
                    <div class="w_100 h_100 pos_a pl_250 | j_parlxContent">
                        <h1 class="c_w">Первый дом с коворкингом
                            <span>в Батуми</span></h1>
                    </div>
                </div>
                <div class="slide swiper-slide">
                    <div class="w_100 h_100 pos_r to_ct | j_parallaxEl">
                        <div class="w_100 h_100 sc_105 bgs_cov to_rb | j_topImage" style="background-image: url('/img/full/lobby3.jpg'); transform-origin: 60% 90%; transform: translate(0px, 0px);"> </div>
                    </div>
                    <div class="w_100 h_100 pos_a pl_250 | j_parlxContent">
                            <h1 class="c_w">Bottom dot animation</h1>
                            <p>See that animation on the bottom with the navigation dots and rotating slide titles? Its time is
                                based on the position of the draggable element. Keep an eye on it as you drag or the slides
                                animate.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


