<svg id="leftArrow" class="arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
    <g stroke-linejoin="round" stroke-linecap="round">
        <circle r="46" cx="50" cy="50"/>
        <polyline points="60 25, 30 50, 60 75"></polyline>
    </g>
</svg>
<svg id="rightArrow" class="arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
    <g stroke-linejoin="round" stroke-linecap="round">
        <circle r="46" cx="50" cy="50"/>
        <polyline points="40 25, 70 50, 40 75"></polyline>
    </g>
</svg>


    <div class="w_100 h_100 pos_r" id="panelWrap">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="slide swiper-slide">
                    <div class="w_100 h_100 pos_r to_ct | j_parallaxEl">
                        <div class="w_100 h_100 sc_105 bgs_cov to_rb | j_topImage" style="background-image: url('/img/full/lobby1.jpg'); transform-origin: 60% 90%; transform: translate(0px, 0px);"> </div>
                    </div>
                    <div class="w_100 h_100 pos_a pl_250 | j_parlxContent">
                        <h1 class="cw">Беспроцентная рассрочка
                            на 36 месяцев</h1>
                    </div>
                </div>
                <div class="slide swiper-slide">
                    <div class="w_100 h_100 pos_r to_ct | j_parallaxEl">
                        <div class="w_100 h_100 sc_105 bgs_cov to_rb | j_topImage" style="background-image: url('/img/full/lobby1.jpg'); transform-origin: 60% 90%; transform: translate(0px, 0px);"> </div>
                    </div>
                    <div class="w_100 h_100 pos_a pl_250 | j_parlxContent">
                        <h1 class="cw">Гибкая система скидок</h1>
                    </div>
                </div>
                <div class="slide swiper-slide"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/314556/clock.png"
                                                     width="75"
                                                     alt="clock">
                    <h3>Bottom dot animation</h3>
                    <p>See that animation on the bottom with the navigation dots and rotating slide titles? Its time is
                        based on the position of the draggable element. Keep an eye on it as you drag or the slides
                        animate.</p>
                </div>
            </div>
        </div>
    </div>


