
// Подключение своих SCSS файлов
@import "_parts/_reset";
@import "_parts/_vars";
@import "_parts/_grid";
@import "_parts/_utils";
@import "_parts/_header";
@import "_parts/_slider";

@import "_parts/_temp";


.slogan{
  color: #fff;
}

.top-menu{

}

.menu-items{
  display: flex;
  flex-direction: column;
}

.main-menu{
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0;
  height: 100vh;
  background-color: #362631;
  left: -200px;
  width: 250px;
  z-index: 999;
  transition: 0.3s all ease-out;
  padding-left: 30px;
  ul{
    li{
      margin: 20px 0;
      a{
        text-decoration: none;
        font-size: 16px;
        text-transform: uppercase;
      }
    }
  }
  &.active{
    left: 0;
    background-color: #362631;
    transition: 1s all ease-out;
  }
}
.j_parallaxEl{
  transform: scale(1);
  opacity: 0.9;
}



footer{
  background-color:  black;
  color:  white;
}

