
// Подключение своих SCSS файлов
@import "_parts/_reset";
@import "_parts/_vars";
@import "_parts/_grid";
@import "_parts/_utils";
@import "_parts/_icos";
@import "_parts/_header";
@import "_parts/_slider";
@import "_parts/_leftside";
@import "_parts/_page";

@import "_parts/_temp";


.slogan{
  color: #fff;
}

.top-menu{

}

.j_parallaxEl{
  transform: scale(1);
  opacity: 0.9;
}



footer{
  background-color:  black;
  color:  white;
}

