
// Подключение своих SCSS файлов
@import "_parts/_reset";
@import "../libs/jqueryui";
@import "_parts/_vars";
@import "_parts/_grid";
@import "_parts/_utils";
@import "_parts/_icos";
@import "_parts/_form";
@import "_parts/_header";
@import "_parts/_slider";
@import "_parts/_leftside";
@import "_parts/_page";
@import "_parts/_footer";
@import "_parts/_media";



.slogan{
  color: #fff;
}

sup {
  font-size: 50%;
  line-height: 0;
  vertical-align: super;
}

.j_parallaxEl{
  transform: scale(1);
  opacity: 0.9;
}



footer{
  background-color:  black;
  color:  white;
}

